<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{pageTitle}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div *ngIf="items.length > 0">
        <ion-list *ngFor="let historic of items">
            <ion-item>
                <h2>{{ historic.value }}</h2>
                <h3>{{ historic.date | date :'short' }}</h3>
            </ion-item>  
        </ion-list>
    </div>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Tirez pour rafraîchir"
            refreshingSpinner="circles"
            refreshingText="Chargement de votre historique ...">
        </ion-refresher-content>
    </ion-refresher>
</ion-content>
      